<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<div id="sidebar" style="float: left;"></div>
<div id="content" style="float: left;"></div>

<script type="application/json" id="bootstrapped_posts_json">
  <%=  Post.all.to_json.html_safe %>
</script>

<script type="application/javascript">
  $(function(){
    var postsData = <%= Post.all.to_json.html_safe %>

    window.JA.initialize($("#sidebar"), $('#content'), postsData);
  });
</script>
